/* static/style.css */
.btn.active {
    background-color: #007bff;
    color: white;
}
.btn-outline-secondary.active {
    background-color: #6c757d;
    color: white;
}
.btn-outline-info.active {
    background-color: #17a2b8;
    color: white;
}
.btn-outline-warning.active {
    background-color: #ffc107;
    color: white;
}
#chart-container {
    text-align: center;
}
#stock-chart {
    max-width: 100%;
    height: auto;
}