<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>Stock Portfolio</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="mt-5">User's Stock Portfolio</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Name</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price per Share</th>
                    <th scope="col">Total Value</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in portfolio %}
                <tr>
                    <td>{{ stock.ticker }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>${{ '%.2f' | format(stock.price) }}</td>
                    <td>${{ '%.2f' | format(stock.shares * stock.price) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <h1 class="mt-5">Stock Performance Chart</h1>
        <form id="stock-form" class="form-inline justify-content-center mt-3">
            <div class="form-group mb-2">
                <label for="ticker" class="sr-only">Ticker</label>
                <input type="text" class="form-control" id="ticker" name="ticker" placeholder="Enter Stock Ticker" required>
            </div>
            <div class="btn-group mb-2 ml-2" role="group" aria-label="Time range">
                <button type="button" name="range" value="1y" class="btn btn-outline-primary time-range">1 Year</button>
                <button type="button" name="range" value="6m" class="btn btn-outline-secondary time-range">6 Months</button>
                <button type="button" name="range" value="3m" class="btn btn-outline-info time-range">3 Months</button>
                <button type="button" name="range" value="1m" class="btn btn-outline-warning time-range">1 Month</button>
            </div>
            <input type="hidden" id="selected-range" name="range">
            <button type="submit" class="btn btn-success mb-2 ml-2">View Chart</button>
            <button type="button" class="btn btn-primary mb-2 ml-2" data-toggle="modal" data-target="#transactionModal">Buy/Sell</button>
        </form>
        <div class="mt-5" id="chart-container">
            <canvas id="stock-chart" style="display:none;"></canvas>
        </div>
        <div id="additional-info" class="row" style="display:none;">
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">Open:</span> <span id="info-open"></span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">High:</span> <span id="info-high"></span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">Low:</span> <span id="info-low"></span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">Vol:</span> <span id="info-volume"></span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">Market Cap:</span> <span id="info-marketCap"></span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">P/E Ratio:</span> <span id="info-peRatio"></span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">52W High:</span> <span id="info-52WeekHigh"></span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">52W Low:</span> <span id="info-52WeekLow"></span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">Avg Vol:</span> <span id="info-avgVolume"></span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">Yield:</span> <span id="info-yield"></span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">Beta:</span> <span id="info-beta"></span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span class="title">EPS:</span> <span id="info-eps"></span>
            </div>
        </div>
    </div>

<!-- Transaction Modal -->
<div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionModalLabel">Buy/Sell Stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="transaction-form">
                    <div class="form-group">
                        <label for="modal-ticker">Ticker</label>
                        <input type="text" class="form-control" id="modal-ticker" name="ticker" required>
                    </div>
                    <div class="form-group">
                        <label for="modal-price">Current Price</label>
                        <input type="text" class="form-control" id="modal-price" name="price" readonly>
                    </div>
                    <div class="form-group">
                        <label for="modal-side">Transaction Type</label>
                        <select class="form-control" id="modal-side" name="side">
                            <option value="buy">Buy</option>
                            <option value="sell">Sell</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="modal-size">Size</label>
                        <input type="number" class="form-control" id="modal-size" name="size" required>
                    </div>
                    <div class="form-group">
                        <label for="modal-total">Total Price</label>
                        <input type="text" class="form-control" id="modal-total" name="total" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        var chart;

        // Ensure ticker input is always uppercase
        $('#ticker').on('input', function() {
            this.value = this.value.toUpperCase();
        });

        $('#modal-ticker').on('input', function() {
            this.value = this.value.toUpperCase();
        });

        $('.time-range').click(function() {
            $('.time-range').removeClass('active');
            $(this).addClass('active');
            $('#selected-range').val($(this).val());
        });

        $('#stock-form').submit(function(event) {
            event.preventDefault();
            var ticker = $('#ticker').val().toUpperCase();
            var range = $('#selected-range').val();
            if (!range) {
                alert("Please select a time range.");
                return;
            }
            var chartUrl = `/chart_data?ticker=${ticker}&range=${range}`;
            var infoUrl = `/additional_info?ticker=${ticker}`;
            
            $.getJSON(chartUrl, function(data) {
                $('#stock-chart').show();

                // Update chart
                var ctx = document.getElementById('stock-chart').getContext('2d');
                if (chart) {
                    chart.destroy();
                }
                chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.chart_data.labels,
                        datasets: [{
                            label: 'Adj Close Price',
                            data: data.chart_data.prices,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1,
                            fill: false
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Date'
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Price'
                                }
                            }
                        }
                    }
                });
            });

            $.getJSON(infoUrl, function(data) {
                $('#additional-info').show();

                // Update additional information
                $('#info-open').text(data.additional_info.open);
                $('#info-high').text(data.additional_info.high);
                $('#info-low').text(data.additional_info.low);
                $('#info-volume').text(data.additional_info.volume);
                $('#info-marketCap').text(data.additional_info.marketCap);
                $('#info-peRatio').text(data.additional_info.peRatio);
                $('#info-52WeekHigh').text(data.additional_info['52WeekHigh']);
                $('#info-52WeekLow').text(data.additional_info['52WeekLow']);
                $('#info-avgVolume').text(data.additional_info.avgVolume);
                $('#info-yield').text(data.additional_info.yield);
                $('#info-beta').text(data.additional_info.beta);
                $('#info-eps').text(data.additional_info.eps);
            });
        });

        $('#transactionModal').on('show.bs.modal', function (event) {
            var ticker = $('#ticker').val().toUpperCase();
            if (!ticker) {
                alert("Please enter a ticker first.");
                return false;  // Prevent the modal from showing
            }
            $('#modal-ticker').val(ticker);

            // Fetch current price
            $.getJSON(`/additional_info?ticker=${ticker}`, function(data) {
                $('#modal-price').val(data.additional_info.open); // Assuming 'open' is the current price

                $('#modal-size').on('input', function() {
                    var size = $(this).val();
                    var price = $('#modal-price').val();
                    $('#modal-total').val(size * price);
                });
            });
        });

        $('#modal-ticker').on('change', function() {
            var ticker = $(this).val();

            // Fetch and update current price
            $.getJSON(`/additional_info?ticker=${ticker}`, function(data) {
                $('#modal-price').val(data.additional_info.open);
                var size = $('#modal-size').val();
                $('#modal-total').val(size * data.additional_info.open);
            });
        });

        $('#transaction-form').submit(function(event) {
            event.preventDefault();
            var ticker = $('#modal-ticker').val();
            var side = $('#modal-side').val();
            var size = $('#modal-size').val();

            if (size <= 0 || isNaN(size)) {
                alert('Size must be a positive number');
                return;
            }

            // Check if transaction is valid
            $.getJSON('/portfolio', function(portfolio) {
                if (side === 'sell' && (!portfolio[ticker] || portfolio[ticker][0] < size)) {
                    alert('Not enough shares to sell');
                    return;
                }

                var url = side === 'buy' ? '/buy' : '/sell';
                $.ajax({
                    url: url,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        ticker: ticker,
                        size: size
                    }),
                    success: function(response) {
                        alert('Transaction successful');
                        $('#transactionModal').modal('hide');
                    },
                    error: function(xhr, status, error) {
                        alert('Transaction failed: ' + xhr.responseJSON.error);
                    }
                });
            });
        });

        $('#transactionModal').on('hidden.bs.modal', function () {
            // Unbind the input event handler to prevent it from binding multiple times
            $('#modal-size').off('input');
        });
    });
</script>

</body>

</html>
